* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
  word-wrap: break-word;

  /* color: rgba(141, 135, 135, 0.863); */
}

.absolute-box {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

::-webkit-scrollbar {
  width: 12px;
  background: rgb(167, 167, 167);
}

::-webkit-scrollbar-button {
  background: rgba(231, 231, 231, 0.89);
}

.preview {
  padding: 0 25px;
  word-wrap: break-word;
  overflow-x: hidden;
}

hr {
  color: rgb(53, 53, 53);
  background-color: rgb(53, 53, 53);
}

code {
  word-wrap: break-word;
  color: #9145b6;
  font-size: 15px;
  font-family: monospace;
  font-weight: 600;
}

blockquote {
  border-left: 5px solid grey;
  background: rgba(179, 179, 179, 0.39);
  padding: 5px;
  color: rgba(27, 27, 27, 0.959);
  /* color: #1d1d1d; */
}

p {
  margin-block: 14px;
}

a {
  color: #4c3f91;
  font-weight: 700;
}

ul,
ol {
  margin-inline: 25px;
}

li {
  padding: 6px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block: 15px;
}

img {
  height: 450px;
  width: 650px;
  border-radius: 0.3rem;
}

.infoSection {
  position: absolute;
  right: 30px;
  bottom: 70px;
  font-size: 25px;
  padding: 2px;
  border-radius: 50%;
}
